<div class="user__title"><p>新規登録</p></div>

<div class="user__main">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ニックネーム , class:"user__form_label"%><br />
    <%= f.text_field :name, autofocus: true , class:"user__form"%>
  </div>

  <div class="field">
    <%= f.label :メールアドレス , class:"user__form_label"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"user__form"%>
  </div>

  <div class="field">
    <%= f.label :パスワード, class:"user__form_label" %>
    <%= f.password_field :password, autocomplete: "new-password" , class:"user__form"%>
  </div>

  <div class="field">
    <%= f.label :確認用パスワード, class:"user__form_label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"user__form"%>
  </div>

  <div class="actions">
    <%= f.submit "新規登録する" , class:"login__btn" %>
  </div>
<% end %>

</div>
<div class="new__user">
<%= render "devise/shared/links" %>
</div>