<%= link_to "冷蔵庫", new_fridge_path, class: "post" %>
<%= link_to "食事を記録する", new_eat_path, class: "post" %>
<%= link_to "食事記録を確認する", eats_path %>
<%= link_to "マイページ", user_path(current_user.id) %><br>

<ul class='food-lists'>
  <% @fridges.each do |fridge| %>
    <li class='list'>
      <%= fridge.food %>
      <%= fridge.amount %><%= fridge.unit %>
      <%= fridge.price %>円
    </li>
  <% end %>
</ul>