<%= link_to "冷蔵庫の中身を確認する", fridges_path %>
<%= link_to "マイページ", user_path(current_user.id) %><br>

<%= form_with model: @form, url: fridges_path, method: :post, local: true do |form| %>

<%#以下が増加する中身%>
  <div id="demo-area" class="form-group">
    <div class="unit input-group">
      <%= form.fields_for :fridges, type:"text" do |f| %>
        <%= f.text_field :food, type:"text", placeholder: "食品名" %>
        <%= f.text_field :amount, type:"text", placeholder: "数量" %>
        <%= f.text_field :unit, type:"text", placeholder: "単位" %>
        <%= f.text_field :price, type:"text", placeholder: "値段" %>
      <% end %>
      <div class="demo-minus input-group-append">
        <span class="btn btn-danger">−</span>
      </div>
    </div>
  </div>
<%#ここまでが増加する中身%>
  
  <div id="demo-plus" class="btn btn-primary">＋</div>
    <%= form.submit "冷蔵庫に入れる" %>
<% end %>