<!DOCTYPE html>
<html>
  <head>
    <title>メシロク</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6">メシロク</h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <ul class="user__info">
              <li>
                <%= link_to "マイページ", "/users/#{current_user.id}" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
            </span>         
          </div>
        <% end %>
      </div>
    </header>
   
    <%= yield %>
  </body>
</html>
